@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
	font-family: 'Roboto', sans-serif;
}

@font-face{
	src: url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap');
	font-family: 'Roboto', sans-serif;
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
	
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
	
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
	
}

/* X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
	
}

/* XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1440px) {
	

	.container-fluid {
		margin: 0px 10% center;
	}

	#cab {
		background-image: url('../img/bg.svg');
		background-position: center;
		background-size: 100% auto;
    	background-repeat: no-repeat;
	}
}


p,h1,h2,h3,h4,h5,h6 {
	letter-spacing: 0.06em;
}

a {
	text-decoration: none ;
}

li{
	list-style: none;
}

ul{
	padding: 0;
	margin: 0;
}
 #par {
	font-size: 1rem;
 }
 #imp {
	font-size: 1.4rem;
 }
 #impi {
	font-size: 2.4rem;
 }



/* Cabeçalho */
#c li {
	list-style: none;
	padding-top: 4px;
	padding-bottom: 4px;
	
}

#fd {
	padding-bottom: 16px;
}

header div {
    width: 250px;
    margin: auto;
    background-color:#F4F4F4;
    border-radius: 50%;
    display: flex;
    padding: 4px;
}


header div img {
    width: 100%;
    border-radius: 50%;
}


#ff h2, #ff h3{
	padding: 0px;
	text-align: center;
}

.container img{
	padding: 6px;
}

#cab {
	color: #F4F4F4;
	padding: 24px;
	background-image: url('../img/bg.svg');
	background-size: auto cover;
    background-position: center;
}

#itens{
	display: flex;
    align-items: center;
    justify-content: center;
	background-color: rgba(54,54,54, 1.0);
	border-radius: 16px;
	padding-top: 16px;
	padding-bottom: 16px;
}




/* Corpo */

.container h3 {
	text-align: center;
	padding: 16px;
}

#corpo{
	background-color: #363636;
	padding: 24px;
}

#corpo h3, #corpo h4, #corpo h6, #corpo p {
	color: #F4F4F4;
}

#corpo1{
	/*border-bottom: 1px solid #ccc;*/
	background-color: #F20C30;
	color: #F4F4F4;
	padding: 24px;
}

#corpo2{
	
	background-color: #F4F4F4;
	color: #333333;
	padding: 24px;
}

#sec {
	border-bottom: 1px solid #ccc;
	padding-top: 8px;
	padding-bottom: 8px;
	
}

#sec2 {
	padding-top: 16px;
}

#bom {
	width: 80px;
	height: 30px;
	color: #333333;
	border-radius: 30px;
	text-align: center;
	padding: 2px;
}

/* Rodape */

#rodape{
	background-color: #F20C30;
	color: #F4F4F4;
	padding-top: 24px;
	background-image: url('../img/bg.svg');
	background-size: cover;
    background-position: center;
}

#copy {
	font-size: 1.2rem;
}